<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Sass tasks</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <br>
    <h2>Button</h2>
    {% include "src/modules/button.html" %}
    <h2>Tasks</h2>
     {% include "src/modules/blocks.html" %}
    <h2>List</h2>
    {% include "src/modules/list.html" %}
    <h2>Rules</h2>
    {% include "src/modules/rules.html" %}
    <h2>Messenger</h2>
    {% include "src/modules/messenger.html" %}
    <h2>Stairs</h2>
    {% include "src/modules/stairs.html" %}
    <h2>Table</h2>
    {% include "src/modules/table.html" %}
    <h2>Buttons with map</h2>
    {% include "src/modules/buttons_map.html" %}
</body>
</html>