@import "blocks.scss";

.tasks__wrap{
    width:60%;
    height: auto;
    margin: 50px auto;
}
.table{
    display: table;
    border-spacing: 5px;
    &__item{
        @extend .tasks__list; //using style from blocks.scss
        width: 33%;
        display: table-cell;
        text-align: center;
        padding: 3px;
        border: 2px solid gray;
        border-radius: 3px;
        margin-left: 5px;
        &:hover{
            background-color: lightgray;
        }
    }
}
    
       
