$backColor: #ffcccc;
$buttonBackColor: #2a602d;
$buttonBackActiveColor: #334432;
$mainSize: 14px;
$fontFamily: "Helvetica";
$textColor: #333;
$countBlocks: 5;

$success: lightgreen;
$info:lightblue;
$warning:orange; 
$error: darkred; 
$def:white;

$small: 70px;
$medium: 120px;
$large: 180px;
//maps

$text-color: (
    main: #ffffff,
    danger: darkred,
    dark: green  
);


$font:(
    color: purple,
    weight: 800
);

    



    

